<p id="notice"><%= notice %></p>

<h1>Lista de Clientes</h1>

<hr/>
<%= render 'formbusca'%>
<hr/>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.senha %></td>
        <td><%= link_to 'Mostrar', cliente, class: "glyphicon glyphicon-eye-open" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to 'Deletar', cliente, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= will_paginate @clientes, previous_label: "Anterior", next_label: "Próxima" %>
<br>
<%= link_to 'Novo Cliente', new_cliente_path, class: "btn btn-default" %>