<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Valor unitário:</strong>
  <%= @produto.valorUnit %>
</p>

<br/>




<%= link_to 'Editar', edit_produto_path(@produto), class: "glyphicon glyphicon-pencil" %> |
<%= link_to 'Voltar', produtos_path, class: "glyphicon glyphicon-arrow-left" %>
